.logo{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: teal;
}
/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Keep this file saved as is for now */